@page "/categories/add"
@using ExpenseManagement.Shared.Entities
@using ExpenseManagement.Shared.Enums
@using ExpenseManagement.Shared.Helpers
@using ExpenseManagement.Shared.Models.Category
@using ExpenseManagement.Shared.ValueObjects
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using ExpenseManagement.Shared
@using System.Net
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Adicionar</PageTitle>

<EditForm Model="@Category" OnValidSubmit="@HandleValidSubmit">
    <h3>Adicionar Categoria</h3>
    <hr />

    <DataAnnotationsValidator />

    @if (Alerts.Any())
    {
        @foreach (var alert in Alerts)
        {
            <div class="alert alert-@alert.TypeCustom alert-dismissible fade show" role="alert">
                @alert.Message
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    }

    <div class="form-group">
        <label for="title" class="form-label">
            Título
        </label>
        <InputText id="title" class="form-control" placeholder="Título"
                   @bind-Value="Category.Title" />
        <ValidationMessage For="() => Category.Title" />
    </div>
    <div class="form-group">
        <label for="description" class="form-label">
            Descrição
        </label>
        <InputText id="description" class="form-control" placeholder="Descrição"
                   @bind-Value="Category.Description" />
    </div>

    <div class="form-group">
        <label for="description" class="form-label">
            Selecione um icone para a categoria
        </label>

        @if (IconsCategory != null && IconsCategory.Any())
        {
            <div style="max-height:450px;overflow-y:auto;">
                @foreach (var icon in IconsCategory)
                {
                    <div id="@icon.Id" class="col @(icon.Selected ? "item-selected" : "") box-item" @onclick="() => SetIconCategory(icon.Id, icon.Value)" style="width: 45px; float: left;">
                        <i class="menu-icon fa fa-@icon.Value" aria-hidden="true"></i>
                    </div>
                }
            </div>
        }
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Salvar</button>
    <NavLink class="btn btn-primary" href="@($"categories")">Listagem</NavLink>
</EditForm>

@code {
    public List<MessageResult> Alerts = new();

    private Category Category = new();
    private List<ItemControl> IconsCategory = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await Http.GetFromJsonAsync<BusinessResult<CategoryIcon>>("Category/GetIconsCategory");
            if (response != null && !response.IsValid)
            {
                foreach (var message in response.Messages)
                    AlertHelper.AddError(Alerts, message.Message);
            }

            if (response != null && response.Data != null && response.Data.Icons.Any())
            {
                var onlyIconsVisible = response.Data.Icons.Where(x => x.Visible);
                IconsCategory = onlyIconsVisible.Select(x => new ItemControl() { Id = x.Name, Value = x.Name }).ToList();
            }
        }
        catch (Exception ex)
        {
            AlertHelper.AddError(Alerts, ex.Message);
        }
    }

    private async Task HandleValidSubmit(EditContext editContext)
    {
        try
        {
            var httpResponse = await Http.PostAsJsonAsync<Category>("Category", (Category)editContext.Model);

            if (!httpResponse.IsSuccessStatusCode)
            {
                throw new HttpRequestException(
                    $"Houve um problema. Status Code: {httpResponse.StatusCode}");
            }
            else
            {
                var response = await httpResponse.Content.ReadFromJsonAsync<BusinessResult<Category>>();
                if (response != null && !response.IsValid)
                {
                    foreach (var message in response.Messages)
                        Alerts.Add(new MessageResult() { Message = message.Message, TypeCustom = "danger" });
                }
                else
                {
                    Alerts.Add(new MessageResult() { Message = "Cadastrado com sucesso.", TypeCustom = "success" });
                }
            }
        }
        catch (Exception ex)
        {
            Alerts.Add(new MessageResult() { Message = ex.Message, TypeCustom = "danger" });
        }
    }

    private void SetIconCategory(string id, string icon)
    {
        Category.Icon = icon;
        ListItemControlHelper.SetItemSelected(IconsCategory, id);
    }
}