@page "/categories"
@using ExpenseManagement.Shared.Entities
@using ExpenseManagement.Shared.Helpers
@using ExpenseManagement.Shared.ValueObjects
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using ExpenseManagement.Shared
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Categorias</PageTitle>

<h1>Categorias</h1>

@if (Alerts.Any())
{
    @foreach (var alert in Alerts)
    {
        <div class="alert alert-@alert.TypeCustom alert-dismissible fade show" role="alert">
            @alert.Message
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

@if (categories == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <NavLink class="btn btn-primary" href="categories/add">Novo</NavLink>
    <br />

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Titulo</th>
                <th>Descrição</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categories.Data)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Title</td>
                    <td>@category.Description</td>
                    <td>
                        <NavLink class="btn btn-primary" href="categories/update">Alterar</NavLink>
                        <button class="btn btn-primary"  @onclick="() => OpenDialog(category.Id)">Excluir</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (DialogIsOpen)
{
    <Dialog Title="Deletar categoria"
        Message="Tem certeza que deseja excluir este registro?"
        OnClose="@OnDialogClose"
        Type="Dialog.Category.Delete">
    </Dialog>
}

@code {

    private int IdCategory;
    private bool DialogIsOpen = false;

    private BusinessResult<List<Category>>? categories;
    public List<MessageResult> Alerts = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            categories = await Http.GetFromJsonAsync<BusinessResult<List<Category>>>("Category");
            if (categories != null && !categories.IsValid)
            {
                foreach (var message in categories.Messages)
                    AlertHelper.AddError(Alerts, message.Message);
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            AlertHelper.AddError(Alerts, ex.Message);
        }
    }

    private async Task Delete(int id)
    {
        try
        {
            var httpResponse = await Http.DeleteAsync($"Category/{id}");

            if (!httpResponse.IsSuccessStatusCode)
            {
                throw new HttpRequestException(
                    $"Houve um problema. Status Code: {httpResponse.StatusCode}");
            }
            else
            {
                var response = await httpResponse.Content.ReadFromJsonAsync<BusinessResult<bool>>();
                if (response != null && !response.IsValid)
                {
                    foreach (var message in response.Messages)
                        AlertHelper.AddError(Alerts, message.Message);
                }
                else
                {
                    // remove o item da lista
                    categories.Data = categories.Data.Where(x => x.Id != id).ToList();
                    AlertHelper.AddSuccess(Alerts, "Registro deletado com sucesso.");
                }
            }
        }
        catch (Exception ex)
        {
            AlertHelper.AddError(Alerts, ex.Message);
        }
    }

    private void OpenDialog(int id)
    {
        DialogIsOpen = true;
        IdCategory = id;
    }

    private async Task OnDialogClose(bool isOk)
    {
        if (isOk && IdCategory > 0)
        {
            await Delete(IdCategory);
        }
        DialogIsOpen = false;
    }
}
